.mvn
.settings
target/
.classpath
.project


node_modules/
config.js
.DS_Store

apiserver/src/main/resources/config.properties
apiserver/src/main/resources/application.properties
apiserver/src/main/webapp/img/sample

*.log

