<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.balbum.baby">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
       <activity android:name=".TEMP">
           <!--<intent-filter>-->
               <!--<action android:name="android.intent.action.MAIN" />-->
               <!--<category android:name="android.intent.category.LAUNCHER" />-->
           <!--</intent-filter>-->
       </activity>

        <activity android:name=".LoginActivity">

        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity
            android:name=".CardWritingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".CardImageEditActivity">
        </activity>

        <activity android:name=".StartActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignEmailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SignFacebookActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider333726796797560"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

    </application>

</manifest>
