@import (once) "var";
@left-col-width: 230px;

//*-- common --*//
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.pinned {
    top: 50px !important;
}
.card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.03) !important;
    border-radius: 5px !important;

}
.disappear {
    display: none;
}
.toast {
    background-color: #74d0cb !important;
}
.btn {
    padding: 0 1.4rem;
    height: 33px;
    line-height: 33px;
    background-color: @tertiary;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}
.divider {
    background-color: @background-color;
}

body {
    background: @background-color;
    color: @font-primary;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-family: 'Noto Sans KR ', ' Apple SD Gothic Neo ', ' Nanum Gothic ', ' 나눔고딕 ', ' Malgun Gothic ', ' 맑은 고딕 ', ' 돋움 ', ' Dotum ', sans-serif, ' Helvetica ';
}
button {
    // background: @primary !important;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    line-height: normal;
    margin: 0;
}

textarea {
    border-bottom: none;
}

//*-- 네비게이션 --*//
nav.nav-top {
    background-color: rgba(255, 251, 245, 0.9);
    box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
    .nav-wrapper {
        padding: 0 11px;
        a {
            color: #DAD3CE;
        }
    }
    .brand-logo {
        color: @primary;
        font-weight: 900;
        left: 50% !important;
        img {
            height: 35px;
        }
    }
    li {
        margin: 0 6px;
        color: #DAD3CE;
        &.nav-update-modal {
            color: @primary;
        }
    }
    #nav-mobile {
        a {
            color: @primary;
        }
    }
    @media @l-m {
        a.button-collapse {
            display: none;
        }
    }
}


//*-- left col --*//
aside.left-col {
    background: rgba(63, 74, 88, 0.91);;
    color: white;
    position:fixed;
    left:0;
    width: @left-col-width;
    height:100%;
    z-index: 1;
    div.my-info {
        padding: 1rem 0 0;
        text-align: center;
        img.photo {
            width: 55%;
        }
        div.info {
            margin-top: 0.5rem;
            .name {
                font-size: 1.3rem;
                font-weight: 900;
            }
            .role {
                color: rgba(255, 255, 255, 0.66);
            }
        }
    }
    ul {
        li {
            a {
                padding: 0.5rem 0.7rem;
                display: block;
                color: white;
                &:hover {
                    background-color: rgb(52, 62, 76);
                    transition: @transition;
                }
                i {
                    margin-right: 0.3rem;
                    vertical-align: text-bottom;
                }
            }
            &.bfilter {
                a {
                    padding-left: 2.5rem;
                    background-color: #48505A;
                    &:hover {
                        background-color: rgb(52, 62, 76);
                        transition: @transition;
                    }
                }
            }
            span.badge {
                margin-top: 0.2rem;
                font-size: 0.9rem;
                &.new {
                    background-color: @tertiary;
                }
            }
        }
    }

}

//*-- 카드 공통속성 --*//
.bCard {
    background-color: white;
    margin-bottom: 0.9rem;
    padding: 0.75rem 0;
    border-radius: 0.7rem;

    .date-container {
        display: inline-block;
        color: @font-secondary;
    }
    .bc-action {
        margin: 0 1rem;
        color: @light-gray;
        cursor: pointer;


        .btn-container {
            display: inline-block;
            float: right;
            vertical-align: middle;
            .action-btn {
                display: inline-block;
                // float: right;
                &:hover {
                    color: @hover-primary;
                    transition: @transition;
                }

            }
            .action-dropdown-menu {
                position: absolute;
                // top: 70%;
                right: 20px;
                z-index: 100;
                font-size: 14px;
                text-align: left;
                background-color: white;
                // border: 1px solid #ccc;
                // border: 1px solid rgba(0,0,0,0.15);
                border-radius: 4px;
                box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                background-clip: padding-box;
                -webkit-transition: all 0.2s ease;
                opacity:0;
                -webkit-transform-origin: right top 0px;
                -webkit-transform: scale(0);

                ul {
                    min-width: 160px;
                    padding: 5px 0;
                    margin: 2px 0 0;
                    list-style: none;
                    position:relative;
                    li {
                        color:#666;
                        margin: 0;
                        padding: 5px 0 5px 15px;
                        height: 24px;
                        list-style: none;
                        opacity: 0;
                        transform: translateY(0px);
                        -webkit-transition: all 0.3s ease;
                        transform: translateY(-30%);

                    }
                }
                &.active {
                    opacity:1;
                    box-shadow: 1px 7px 6px 0 rgba(0, 0, 0, 0.11);
                    -webkit-transform-origin: right top 0px;
                    -webkit-transform: scale(1);
                    li {
                        opacity: 1;
                        transform: translateY(0px);
                        &:hover {
                            background-color: #E8E8E8;
                        }
                    }
                }
            }
        }
    }
    .bc-photo {
        width: 100%;
    }
    .bc-content {
        margin: 1.5rem 1rem;
    }
    .divider {
        height: 0.05rem;
        margin-bottom: 0.4rem;
    }
    .babies-container {
        margin: 0 1rem;
        color: @mid-gray;
        .baby {
            display: inline-block;
            margin-right: 0.7rem;
            img {
                width: 2em;
                height: 2em
            }
        }
    }
}
