@import (once) "var";

@left-col-width: 180px;

//*-- common --*//
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

body {
    background: #f3ede8;
}

button {
    background: @primary !important;
}

.nav-top {
    background-color: #fffbf5;

    .brand-logo {
        color: @primary;
        font-weight: 900;
        left: 50% !important;
        img {
            height: 35px;
        }
    }
    a {
        color: #DAD3CE;
        i.post-icon {
            color: @primary;
        }
    }
    #nav-mobile {
        a {
            color: @primary;
        }
    }
    @media @l-m {
        a.button-collapse {
            display: none;
        }
    }
}


//*-- left col --*//
.left-col {
    background: #3F4A58;
    color: white;
    position:fixed;
    left:0;
    width: @left-col-width;
    height:100%;
    z-index: -10;

    //material css 기본 side-nav 오버라이드
    // .side-nav.fixed {
    //     top: initial !important;
    //     left: 0 !important;
    // }
}

//*-- Main Container --*//
.main-container {
    padding-left: @left-col-width;
    @media @l-s {
        padding-left: 0;
    }

    .main-col {
        // background: #F3F5F6;
        height: 600px;
    }

    .right-col {
        // background: green;
        height: 600px;
    }
}

