@import (once) "var";
@left-col-width: 230px;

//*-- Main Container --*//
section.main-container {
    padding-left: @left-col-width;
    @media @l-s {
        padding-left: 0;
    }

    //*-- 메인 타임라인 --*//
    article.main-col {
        height: 600px;

        //*-- 카드 작성 컨테이너 --*//
        div.postcard-container {
            div.postcard-tabs {

            }
            div.daily-tab {
                .upload-photo-box {
                    margin-top: 10px;
                    width: 100%;
                    height: 50px;
                    border: 1px dashed @light-gray;
                    color: @light-gray;
                    text-align: center;
                    cursor: pointer;
                    i {
                        line-height: 50px;
                    }
                }
                .uploaded-photo {
                    display: none;
                }

            }
            div.event-tab {

            }
            div.baby-check-container {
                // padding: 0;
                .baby-check {
                    img {
                        width: 2.2rem;
                        height: 2.2rem;

                    }
                }
            }
        }

        //*-- 작성된 카드들 컨테이너 --*//
        div.card-container {
            div.baby-card {
                .bc-content {

                }
                .bc-action {
                    .date-container {

                    }
                    .babies-container {
                        .baby {
                            img {
                                width: 2em;
                                height: 2em
                            }
                        }
                    }
                    .btn-container {
                        .action-btn {
                            display: inline-block;
                            float: right;

                        }
                        .action-dropdown-menu {
                            position: absolute;
                            top: 70%;
                            right: 20px;
                            z-index: 1000;
                            font-size: 14px;
                            text-align: left;
                            background-color: #fff;
                            // border: 1px solid #ccc;
                            // border: 1px solid rgba(0,0,0,0.15);
                            border-radius: 4px;
                            box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                            background-clip: padding-box;
                            -webkit-transition: all 0.2s ease;
                            opacity:0;
                            -webkit-transform-origin: right top 0px;
                            -webkit-transform: scale(0);

                            ul {
                                min-width: 160px;
                                padding: 5px 0;
                                margin: 2px 0 0;
                                list-style: none;
                                position:relative;
                                li {
                                    color:#666;
                                    margin: 0;
                                    padding: 5px 0 5px 15px;
                                    height: 24px;
                                    list-style: none;
                                    opacity: 0;
                                    transform: translateY(0px);
                                    -webkit-transition: all 0.3s ease;
                                    transform: translateY(-30%);
                                }
                            }
                            &.active {
                                opacity:1;
                                -webkit-transform-origin: right top 0px;
                                -webkit-transform: scale(1);
                                li {
                                    opacity: 1;
                                    transform: translateY(0px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //*-- Settings --*//
    article.settings-col {
        margin: 0;
        padding: 0.75rem;
        .person-card {
            display: inline-block;
            background: white;
            width: 10rem;
            height: 12rem;
            text-align: center;
            .photo {
                width: 6rem;
                height: 6rem;
            }
        }
        .section-card {
            // background: white;
            margin-bottom: 0.75rem;
            padding: 0.75rem;
            h2 {
                font-size: 1.5rem;
            }
            h3 {
                font-size: 1.3rem;
            }
        }
    }

    aside.right-col {
        // background: green;
        height: 600px;
    }
}

//*-- Main Modal --*//
div#modal-main {
    z-index: 1003;
    div.modal-body {
        div.modal-check-balbum {
            .collection-container {
                li {
                    cursor: pointer;
                }
            }
        }
        div.modal-add-baby {
            .added-baby-container {
                div.added-baby {
                    display: inline-block;
                    img {
                        width: 3.5em;
                        height: 3.5em;
                    }
                }
            }
            .add-baby-container {
                .collection {
                    .collection-item {
                        padding: 1em;
                    }
                    .uploaded-baby-photo {
                        display: none;
                        width: 6em;
                        height: 6em;
                        border-radius: 50%;
                    }
                    .upload-baby-photo {
                        width: 6em;
                        height: 6em;
                        border: 1px dashed @light-gray;
                        border-radius: 50%;
                        color: @light-gray;
                        text-align: center;
                        cursor: pointer;
                        i {
                            line-height: 2.5em;
                            font-size: 2.3em;
                        }
                    }
                    .baby-info {
                        span {
                            margin-right: 1.5em;
                        }
                    }
                }
                .add-baby-btn {
                    text-align: center;
                    button {
                        transition: all 0.3s ease;
                        display: inline-block;
                        padding: 0.5em 1em;
                        border-radius: 1.4em;
                        background: transparent;
                        color: @tertiary;
                        border: 1px solid @tertiary;
                        i {vertical-align: bottom;}
                        &:hover {
                            background-color: @tertiary;
                            color: white;
                        }
                    }
                }
            }
            div.action-container {
                a {
                    text-decoration: underline;
                    color: @font-primary;
                    cursor: pointer;
                }
            }
        }
        div.modal-find-balbum {
        }
    }
}
