@import (once) "var";
@left-col-width: 230px;
@space: 0.75rem;

//*-- Main Container --*//
section.main-container {
    padding-left: @left-col-width;
    @media @l-s {
        padding-left: 0;
    }

    //*-- 메인 타임라인 --*//
    article.main-col {
        height: 600px;
        .baby-title {
            padding: 0.75rem;
            margin: 0.75rem 0;
            background-color: rgba(255, 255, 255, 0.64);
            .photo {
                width: 3rem;
                height: 3rem;
                margin-right: 0.3rem;
                display: inline-block;
            }
            .info {
                display: inline-block;
                font-size: 1.5rem;
                font-weight: 300;
                color: #86837F;
                .name {
                    font-weight: 800;
                    color: @font-primary;
                }
            }
        }

        //*-- 카드 작성 컨테이너 --*//
        div.postcard-container {
            background: white;
            margin-top: 0.8rem;
            margin-bottom: 0.9rem;
            padding: 0;
            border-radius: 0.7rem;

            div.postcard-tabs {
                padding: 0;
                .tabs {
                    border-radius: 0.7rem;
                    .tab {
                        a {
                            background-color: rgba(236, 231, 219, 0.3);;
                            color: #949494;
                            &:hover {
                                color: @primary;
                            }
                            &.active {
                                color: @primary;
                                background-color: transparent;
                            }

                        }
                    }
                }
            }
            textarea, input.event-txt, .date-container input {
                margin-bottom: 0;
                border-bottom: none;
                box-shadow: none;
            }
            .date-container input {
                cursor: pointer;
            }

            div.daily-tab {
                margin-bottom: 0px;
                .upload-photo-box {
                    margin-top: 13px;
                    width: 100%;
                    height: 56px;
                    border: 1px dashed @light-gray;
                    color: @light-gray;
                    text-align: center;
                    cursor: pointer;
                    i {
                        vertical-align: sub;
                        line-height: 50px;
                    }
                }
                .uploaded-photo {
                    display: none;
                }
                button {
                    margin-top: 0.45rem;
                }

            }
            div.event-tab {
                margin-bottom: 0px;
                .event-contents {
                    margin: 2rem 1rem 0.1rem;
                    .date-container {
                        text-align: center;
                        input {
                            display: inline-block;
                            text-align: center;
                            font-size: 1.6rem;
                            padding-left: 10%;
                            width: 90%;
                        }
                    }
                    textarea.event-txt {
                        text-align: center;
                        font-size: 1.7rem;
                    }
                }
            }
            div.baby-check-container {
                // padding: 0;
                .baby-check {
                    margin: 0;
                    margin-right: 0.5rem;
                    display: inline-block;
                    label {
                        padding-left: 23px;
                        &:before {
                            // top: 5px;
                        }
                        img {
                            width: 2.2rem;
                            height: 2.2rem;

                        }
                    }

                }
            }
            div.divider {
                margin: 0.5rem -0.75rem 0;
                background-color: @background-color;
            }
            button {
                margin: 0.35rem 0;
            }
        }

        //*-- 작성된 카드들 컨테이너 --*//
        div.card-container {
            div.baby-card {
                background-color: white;
                margin-bottom: 0.9rem;
                padding: 0.75rem 0;
                border-radius: 0.7rem;

                .bc-action {
                    margin: 0 1rem;
                    color: @light-gray;
                    cursor: pointer;

                    .date-container {
                        display: inline-block;
                        color: @font-secondary;
                    }

                    .btn-container {
                        display: inline-block;
                        float: right;
                        vertical-align: middle;
                        .action-btn {
                            display: inline-block;
                            // float: right;
                            &:hover {
                                color: @hover-primary;
                                transition: @transition;
                            }

                        }
                        .action-dropdown-menu {
                            position: absolute;
                            // top: 70%;
                            right: 20px;
                            z-index: 100;
                            font-size: 14px;
                            text-align: left;
                            background-color: white;
                            // border: 1px solid #ccc;
                            // border: 1px solid rgba(0,0,0,0.15);
                            border-radius: 4px;
                            box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                            background-clip: padding-box;
                            -webkit-transition: all 0.2s ease;
                            opacity:0;
                            -webkit-transform-origin: right top 0px;
                            -webkit-transform: scale(0);

                            ul {
                                min-width: 160px;
                                padding: 5px 0;
                                margin: 2px 0 0;
                                list-style: none;
                                position:relative;
                                li {
                                    color:#666;
                                    margin: 0;
                                    padding: 5px 0 5px 15px;
                                    height: 24px;
                                    list-style: none;
                                    opacity: 0;
                                    transform: translateY(0px);
                                    -webkit-transition: all 0.3s ease;
                                    transform: translateY(-30%);

                                }
                            }
                            &.active {
                                opacity:1;
                                box-shadow: 1px 7px 6px 0 rgba(0, 0, 0, 0.11);
                                -webkit-transform-origin: right top 0px;
                                -webkit-transform: scale(1);
                                li {
                                    opacity: 1;
                                    transform: translateY(0px);
                                    &:hover {
                                        background-color: #E8E8E8;
                                    }
                                }
                            }
                        }
                    }
                }
                .event-date-container {
                    display: none;
                }
                .bc-photo {
                    width: 100%;
                }
                .bc-content {
                    margin: 1.5rem 1rem;
                }
                .divider {
                    height: 0.05rem;
                    background-color: @background-color;
                    margin-bottom: 0.4rem;
                }
                .babies-container {
                    margin: 0 1rem;
                    color: @mid-gray;
                    .baby {
                        display: inline-block;
                        margin-right: 0.7rem;
                        img {
                            width: 2em;
                            height: 2em
                        }
                    }
                }
                &.EVENT {
                    .event-date-container {
                        display: block;
                        text-align: center;
                        margin: 2.5rem 1rem 0;
                        font-size: 1.8rem;
                    }
                    .bc-content {
                        margin: 0.5rem auto 3rem;
                        text-align: center;
                        font-size: 2.3rem;
                        font-weight: 800;
                        // display: none;
                    }
                }
            }
        }
    }



    aside.right-col {
        // background: green;
        height: 600px;
    }
}

//*-- Main Modal --*//
div#modal-main {
    z-index: 1003;
    .modal-content {
        background-color: #F7F4F2;
    }
    div.modal-body {
        div.modal-check-balbum {
            .collection-container {
                li {
                    cursor: pointer;
                }
            }
        }
        div.modal-add-baby {
            .added-baby-container {
                div.added-baby {
                    display: inline-block;
                    height: 9.5rem;
                    img {
                        width: 3.5em;
                        height: 3.5em;
                    }
                }
            }
            .add-baby-container {
                .collection {
                    .collection-item {
                        padding: 1em;
                    }
                    .uploaded-baby-photo {
                        display: none;
                        width: 6em;
                        height: 6em;
                        border-radius: 50%;
                    }
                    .upload-baby-photo {
                        width: 6em;
                        height: 6em;
                        border: 1px dashed @light-gray;
                        border-radius: 50%;
                        color: @light-gray;
                        text-align: center;
                        cursor: pointer;
                        i {
                            line-height: 2.5em;
                            font-size: 2.3em;
                        }
                    }
                    .baby-info {
                        span {
                            margin-right: 1.5em;
                        }
                    }
                }

                .add-baby-btn {
                    text-align: center;
                    button {
                        transition: @transition;
                        display: inline-block;
                        padding: 0.5em 1em;
                        border-radius: 1.4em;
                        background: transparent;
                        color: @tertiary;
                        border: 1px solid @tertiary;
                        i {vertical-align: bottom;}
                        &:hover {
                            background-color: @tertiary;
                            color: white;
                        }
                    }
                }
            }
            div.action-container {
                a {
                    text-decoration: underline;
                    color: @font-primary;
                    cursor: pointer;
                }
            }
        }
        div.modal-find-balbum {
            .section-card {
                padding-bottom: 0;
                .photo {
                    display: inline-block;
                    height: 100%;
                    padding: 0;
                    border-radius: 0.7rem 0 0 0.7rem;
                }
                .info {
                    display: inline-block;
                    b {
                        margin-right: 0.5rem;
                        font-weight: 800;
                    }
                    .role {
                        font-size: 1.5rem;
                        font-weight: 800;
                        margin-bottom: 0.75rem;
                    }
                    .email {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}
