@import (once) "var";
// @left-col-width: 230px;

section.poster-container {
	padding-left:10px;
	width: 100%;
	height: 100%;
    // padding-left: @left-col-width;

    .card {
    	margin: 10px 0px 0px -10px;
    	padding: 30px 0;
    	height: 100%;
    	
    	h5:nth-of-type(1){
            font-size: 1.5em;
			margin: 0px 0 0 20px;
    	}

    	h5:nth-of-type(2){
            font-size: 1.5em;
    		margin: 0 0 20px 20px;
    		color: @primary;
    	}

    	img {
    		width: 100%;
    	}

		p {
			padding: 0 20px;
			color: #505050;
            min-height: 60px;
		}
    	div{ 
    		text-align: center;

	    	.btn {
				background: @primary !important;
    		}
    		.btn:hover{
    			background: @hover-primary !important;
    		}
    	}
    }
}

section.make-poster-container {
	width: 100%;
	height: 100%;
	
    .card {
        width: 100%;
        padding-bottom: 10px;

        h5{
            font-size: 1.5em;
            padding: 30px;
        }

        .template-container {
            margin: 10px 50px;
            text-align: center;

            .poster-article {
                border: 5px solid white;
                width: 100%;
                // float: left;
                padding: 20px 20px 5px 20px;
    
                .poster-preview {
                    width: 100%;
                }

                p{
                    padding-top: 5px;
                }
            }

            .poster-article:hover {
                border: 5px solid @light-gray;
            }

            .selected-poster {
                border: 5px solid @hover-primary;
            }
        }
        
        .poster-btn-container{
            margin: 20px auto;
            width: 90%;
            
            .prev-btn {
                background: @light-gray !important;
            }

            .prev-btn:hover {
                background : @mid-gray !important;
            }

            .next-btn {
                float: right;
                background: @primary !important;
            }
            .next-btn:hover{
                background: @hover-primary !important;    
            }
        }
    }
}

section.select-card-container {
    div.card-container {
        div.baby-card {
            // bCard와 공통 속성과 다름
            // select-card-container 안에 있는 카드에서만의 카드 속성
         
            // background-color: red;
            cursor: pointer;

            .babies-container {
                .baby {
                    img {
                        width: 2em;
                        height: 2em
                    }
                }
            }
        }

        .chosen {
            background-color: red;
        }
    }
}

section.print-poster-container {
	
}

section.view-poster-container {
	
}
