article.settings-col {
    margin: 0;
    padding: 0.75rem;

    .person-card {
        display: inline-block;
        background: white;
        width: 10rem;
        height: 12rem;
        text-align: center;
        .photo {
            width: 6rem;
            height: 6rem;
        }
    }
    .section {
        // background: white;
        margin-bottom: 0.75rem;
        padding: 0.75rem;
        h2 {
            font-size: 1.2rem;
            font-weight: 800;
        }
        h3 {
            font-size: 1rem;
        }
    }
    .section-card {
        background-color: white;
        // padding: 0.75rem 0;
        border-radius: 0.7rem;
    }
    .my-info {
        .photo {
            display: inline-block;
            height: 9.5rem;
            border-radius: 0.7rem 0 0 0.7rem;
        }
        .info {
            display: inline-block;
        }
    }
}
