<!doctype html>
<html ng-app="balbumApp" class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BALBUM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

        <link rel="stylesheet" href="css/normalize.css">
        <!-- <link rel="stylesheet" href="css/timeline.css"> -->
        <link rel="stylesheet" href="css/main.css">

        <!-- <link rel="stylesheet/less" href="less/index.less"> -->
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/poster.css">
        <!-- <link rel="stylesheet" href="node_modules/dropzone/dist/dropzone.css"> -->

        <script src="js/vendor/modernizr-2.8.3.min.js"></script>

        <base href="/" />

        <!-- <script type="text/javascript" src="js/vendor/handlebars-v3.0.3.js"></script> -->
    </head>
    <body ng-controller="MainController as bMain">
        <div class="navbar-fixed">
            <nav class="nav-top" role="navigation">
                <div class="nav-wrapper"><a id="logo-container" href="#" class="brand-logo"><img src="img/balbum-logo.png" alt="logo"></a>
                    <ul class="right hide-on-small-only"> <!-- pc화면에서만 보이는 상단메뉴 -->
                        <li class="modal-main-btn modal-trigger" data-toggle="modal" data-target="#modal-main"><i class="material-icons">face</i></li>
                        <li class="dropdown-button" data-activates="nav-dropdown"><i class="material-icons">person</i></li>
                        <li class="nav-update-modal"><i class="material-icons post-icon">add_circle</i></li>

                    </ul>
                    <ul id="nav-mobile" class="side-nav"> <!-- 모바일에서 보이는 왼쪽 슬라이드 메뉴 -->
                        <li><a href="#">모바일슬라이드다</a></li>
                        <li><a href="#">타임라인</a></li>
                        <li ng-repeat="baby in bMain.babyList"><a href="#">{{baby.babyName}}</a></li>
                        <li><a href="#settings">설정</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <a href="#" class="nav-update-modal button-collapse right"><i class="material-icons post-icon">add_circle</i></a>
                </div>
            </nav>
        </div>
        <ul id="nav-dropdown" class="dropdown-content">
            <li><a href="#!">드롭다운 쓰려나</a></li>
            <li><a href="#!">모르겠어요</a></li>
            <li class="divider"></li>
            <li><a href="#!">쓰면 넣자</a></li>
        </ul>

        <aside class="left-col hide-on-small-only">
            <ul>
                <li><a href="/">타임라인</a></li>
                <li ng-repeat="baby in bMain.babyList"><a href="#">{{baby.babyName}}</a></li>
                <li><a href="poster">포스터 만들기</a></li>
                <li><a href="settings">설정</a></li>
            </ul>
        </aside>
        <div id="modal-main" class="modal fade">
            <div ng-include = "'pages/main-modal.htm'"></div>
        </div>

        <section class="main-container row">
            <div ng-view></div>
        </section>

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script type="text/javascript" src="js/vendor/materialize.js"></script>
        <script src="js/plugins.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
        <script src="js/index.js"></script>
        <script src="js/vendor/bootstrap-modal.min.js"></script>
        <script src="js/vendor/steps-modal.js"></script>
        <!-- <script src="js/cardCRUD.js"></script> -->
        <script src="/node_modules/dropzone/dist/dropzone.js"></script>
    </body>
</html>
