<!doctype html>
<html ng-app="balbumApp" class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>BALBUM</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/poster.css">
        <link rel="stylesheet" href="css/settings.css">
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body ng-controller="MainController as bMain">
        <div class="navbar-fixed">
            <nav class="nav-top" role="navigation">
                <div class="nav-wrapper"><a id="logo-container" href="#/" class="brand-logo"><img src="img/balbum-logo.png" alt="logo"></a>
                    <ul class="right hide-on-small-only"> <!-- pc화면에서만 보이는 상단메뉴 -->
                        <li class="modal-main-btn modal-trigger disappear" data-toggle="modal" data-target="#modal-main"><i class="material-icons">face</i></li>
                        <li class="dropdown-button disappear" data-activates="nav-dropdown"><i class="material-icons">person</i></li>
                        <li class="nav-update-modal"><i class="material-icons post-icon">add_circle</i></li>

                    </ul>
                    <ul id="nav-mobile" class="side-nav"> <!-- 모바일에서 보이는 왼쪽 슬라이드 메뉴 -->
                        <li><a href="#">모바일슬라이드다</a></li>
                        <li><a href="#">타임라인</a></li>
                        <li ng-repeat="baby in bMain.babyList"><a href="#">{{baby.babyName}}</a></li>
                        <li><a href="#settings">설정</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                    <a href="#" class="nav-update-modal button-collapse right"><i class="material-icons post-icon">add_circle</i></a>
                </div>
            </nav>
        </div>
        <ul id="nav-dropdown" class="dropdown-content">
            <li><a href="#!">드롭다운 쓰려나</a></li>
            <li><a href="#!">모르겠어요</a></li>
            <li class="divider"></li>
            <li><a href="#!">쓰면 넣자</a></li>
        </ul>

        <aside class="left-col hide-on-small-only">
            <div class="my-info">
                <img class="photo circle" src="http://dev.balbum.net{{::bMain.userInfo.user.userImg}}" alt="My photo" />
                <div class="info">
                    <div class="name">{{::bMain.userInfo.user.email}}</div>
                    <div class="role">{{::bMain.userInfo.user.userRole}}</div>
                    <!-- <div class="email">jayjinjay@gmail.com</div> -->
                </div>
            </div>
            <ul>
                <li class="timeline"><a href="#/"><i class="material-icons">&#xE88A;</i>타임라인</a></li>
                <li class="bfilter" ng-repeat="baby in bMain.babyList" data-bid="{{baby.bid}}"><a href="#baby/{{baby.bid}}">{{baby.babyName}}</a></li>
                <li><a href="#poster"><i class="material-icons">&#xE8F0;</i>포스터 만들기</a></li>
                <li><a href="#settings"><i class="material-icons">&#xE8B8;</i>설정<span class="new badge">4</span></a></a></li>
            </ul>
        </aside>
        <div class="modal-main-btn modal-trigger dissappear" data-toggle="modal" data-target="#modal-main"></div>
        <div id="modal-main" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-check-balbum row hide" data-step="1" data-title="안녕하세요 유림님!">
                            <div>안녕하세요!</div>
                            <div class="collection-container">
                                <ul class="collection with-header">
                                    <li class="js-btn-goto collection-item" data-goto="2"><div>새 BALBUM 만들기<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                                    <li class="js-btn-goto collection-item" data-goto="3"><div>BALBUM 찾기<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
                                </ul>
                                <div>한 ID당 하나의 가족만 등록이 가능합니다^^</div>
                            </div>
                        </div>
                        <div class="modal-add-baby row hide" data-step="2" data-title="우리 아이를 등록해요">
                            <form id="babyForm" ng-submit="bMain.postBaby()" action="http://dev.balbum.net/api/user/baby/create" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="token"/>
                                <div class="">우리 아이를 등록해요.</div>
                                <div class="added-baby-container row">
                                    <div class="added-baby baby person-card"ng-repeat="baby in bMain.babyList">
                                        <img class="photo circle" src="http://dev.balbum.net{{baby.babyImg}}" alt="Baby Image">
                                        <div class="info">
                                            <div class="name">{{baby.babyName}}</div>
                                            <div class="birth">{{baby.babyBirth}}</div>
                                            <div class="divider"></div>
                                            <div class="gender">{{baby.babyGender}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-baby-container row">
                                    <ul class="collection row">
                                        <li class="collection-item col s12">
                                            <div class="col s12 m3">
                                                <input class="upload-baby-photo-input disappear" type="file" name="image">
                                                <img class="uploaded-baby-photo" src="#" alt="uploaded baby photo" />
                                                <div class="upload-baby-photo">
                                                    <i class="material-icons">add</i>
                                                </div>
                                            </div>
                                            <div class="baby-info col s12 m9">
                                                <input required type="text" name="babyName" placeholder="이름">
                                                <input required type="date" name="babyBirth" placeholder="생년월일">
                                                <span>
                                                    <input name="babyGender" class="with-gap" type="radio" id="boy" value="BOY" />
                                                    <label for="boy">남</label>
                                                </span>
                                                <span>
                                                    <input name="babyGender" class="with-gap" type="radio" id="girl" value="GIRL"/>
                                                    <label for="girl">여</label>
                                                </span>
                                                <span>
                                                    <input class="with-gap" name="babyGender" type="radio" id="pregnancy" value="PREGNANCY" checked/>
                                                    <label for="pregnancy">임신중</label>
                                                </span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="add-baby-btn">
                                        <button type="submit" name="action">아이 추가하기<i class="material-icons">add</i></button>
                                    </div>
                                </div>
                            </form>
                            <div class="action-container">
                                <!-- <a class="btn-done js-btn-goto left" data-goto="0">다음에 할게요</a> -->
                                <button ng-hide="bMain.babyList.length==0" class="btn-start btn-done js-btn-goto btn right waves-effect" data-goto="0">시작하기</button>
                                <!-- <button class="btn-done js-btn-goto waves-effect dissappear" data-goto="0"></button> -->
                            </div>
                        </div>
                        <div class="modal-find-balbum row hide" data-step="3" data-title="BALBUM 찾기">
                            <div class="row">
                                <div>이미 가입한 가족의 Email을 입력해주세요.</div>
                                <form class="col s9">
                                    <input required type="email" name="input" placeholder="Email" class="validate">
                                </form>
                                <button type="button" class="col s3 btn-get-family js-btn-find-user btn waves-effect" data-goto="4">찾기</button>
                            </div>
                            <div class="found-existing-user hide">
                                <div class="section-card row">
                                    <img class="photo col s4" src="http://dev.balbum.net{{bMain.foundUser.userImg}}" alt="User photo" />
                                    <div class="info col s8">
                                        <div class="role">{{bMain.foundUser.userRole}}</div>
                                        <div class="email"><b>ID</b>{{bMain.foundUser.email}}</div>
                                    </div>
                                </div>
                                <button type="button" class="btn-done js-btn-goto btn waves-effect right" data-goto="0">들어가기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <section class="main-container row">
            {{cCtrl.foundUser.userRole}}
            <div ng-view></div>
        </section>

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://malsup.github.com/jquery.form.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script type="text/javascript" src="js/vendor/materialize.js"></script>
        <script src="js/plugins.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
        <script src="js/index.js"></script>
        <script src="js/vendor/bootstrap-modal.min.js"></script>
        <script src="js/vendor/steps-modal.js"></script>
        <!-- <script src="js/cardCRUD.js"></script> -->
        <script src="/node_modules/dropzone/dist/dropzone.js"></script>
    </body>
</html>
