@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
section.main-container {
  padding-left: 230px;
}
@media (max-width: 599px) {
  section.main-container {
    padding-left: 0;
  }
}
section.main-container article.main-col {
  height: 600px;
}
section.main-container article.main-col div.postcard-container div.daily-tab .upload-photo-box {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border: 1px dashed #CECECE;
  color: #CECECE;
  text-align: center;
  cursor: pointer;
}
section.main-container article.main-col div.postcard-container div.daily-tab .upload-photo-box i {
  line-height: 50px;
}
section.main-container article.main-col div.postcard-container div.daily-tab .uploaded-photo {
  display: none;
}
section.main-container article.main-col div.postcard-container div.baby-check-container .baby-check img {
  width: 2.2rem;
  height: 2.2rem;
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .babies-container .baby img {
  width: 2em;
  height: 2em;
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .btn-container .action-btn {
  display: inline-block;
  float: right;
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .btn-container .action-dropdown-menu {
  position: absolute;
  top: 70%;
  right: 20px;
  z-index: 1000;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  -webkit-transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0px;
  -webkit-transform: scale(0);
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .btn-container .action-dropdown-menu ul {
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  position: relative;
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .btn-container .action-dropdown-menu ul li {
  color: #666;
  margin: 0;
  padding: 5px 0 5px 15px;
  height: 24px;
  list-style: none;
  opacity: 0;
  transform: translateY(0px);
  -webkit-transition: all 0.3s ease;
  transform: translateY(-30%);
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .btn-container .action-dropdown-menu.active {
  opacity: 1;
  -webkit-transform-origin: right top 0px;
  -webkit-transform: scale(1);
}
section.main-container article.main-col div.card-container div.baby-card .bc-action .btn-container .action-dropdown-menu.active li {
  opacity: 1;
  transform: translateY(0px);
}
section.main-container article.settings-col {
  margin: 0;
  padding: 0.75rem;
}
section.main-container article.settings-col .person-card {
  display: inline-block;
  background: white;
  width: 10rem;
  height: 12rem;
  text-align: center;
}
section.main-container article.settings-col .person-card .photo {
  width: 6rem;
  height: 6rem;
}
section.main-container article.settings-col .section-card {
  margin-bottom: 0.75rem;
  padding: 0.75rem;
}
section.main-container article.settings-col .section-card h2 {
  font-size: 1.5rem;
}
section.main-container article.settings-col .section-card h3 {
  font-size: 1.3rem;
}
section.main-container aside.right-col {
  height: 600px;
}
div#modal-main {
  z-index: 1003;
}
div#modal-main div.modal-body div.modal-check-balbum .collection-container li {
  cursor: pointer;
}
div#modal-main div.modal-body div.modal-add-baby .added-baby-container div.added-baby {
  display: inline-block;
}
div#modal-main div.modal-body div.modal-add-baby .added-baby-container div.added-baby img {
  width: 3.5em;
  height: 3.5em;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .collection .collection-item {
  padding: 1em;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .collection .uploaded-baby-photo {
  display: none;
  width: 6em;
  height: 6em;
  border-radius: 50%;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .collection .upload-baby-photo {
  width: 6em;
  height: 6em;
  border: 1px dashed #CECECE;
  border-radius: 50%;
  color: #CECECE;
  text-align: center;
  cursor: pointer;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .collection .upload-baby-photo i {
  line-height: 2.5em;
  font-size: 2.3em;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .collection .baby-info span {
  margin-right: 1.5em;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .add-baby-btn {
  text-align: center;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .add-baby-btn button {
  transition: all 0.3s ease;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 1.4em;
  background: transparent;
  color: #74d0cb;
  border: 1px solid #74d0cb;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .add-baby-btn button i {
  vertical-align: bottom;
}
div#modal-main div.modal-body div.modal-add-baby .add-baby-container .add-baby-btn button:hover {
  background-color: #74d0cb;
  color: white;
}
div#modal-main div.modal-body div.modal-add-baby div.action-container a {
  text-decoration: underline;
  color: #6f6c66;
  cursor: pointer;
}
