@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  height: 100%;
}
body,
button,
div,
form,
input,
li,
ul {
  margin: 0;
  padding: 0;
  font-family: NanumGothic, "나눔고딕", sans-serif;
}
li {
  list-style-type: none;
}
.lp-body {
  background: #f3ede8;
}
button {
  background: #896DA5 !important;
}
nav.nav-top {
  background-color: rgba(255, 251, 245, 0.9);
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.05) !important;
}
nav.nav-top .brand-logo {
  margin-top: 7px;
  color: #896DA5;
  font-weight: 900;
}
nav.nav-top .brand-logo img {
  height: 35px;
}
nav.nav-top .button-collapse {
  left: 10px;
}
nav.nav-top .button-collapse i {
  font-size: 2rem !important;
}
nav.nav-top a {
  color: #896DA5;
}
section.lp-container {
  background: #e1e1e1 no-repeat center center;
  background-size: cover;
  background-image: url('../img/bg2-1.jpg');
  padding: 130px 0;
}
section.lp-container .inner {
  position: relative;
  padding: 0 50px;
  margin: auto;
}
section.lp-container .inner h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2em;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}
section.lp-container .inner h2 {
  font-size: 20px;
  padding-bottom: 0;
  max-width: 430px;
  line-height: 33px;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}
.lp-content {
  position: relative;
}
.lp-content a {
  background: #896DA5 !important;
}
.lp-content .modal {
  max-width: 400px !important;
  max-height: 100%;
  overflow: hidden;
}
.lp-content .modal .caption {
  font-weight: bold;
  float: left;
}
.lp-content .modal .close-btn {
  width: 15px;
  float: right;
  cursor: pointer;
}
.lp-content .modal .modal-box {
  padding: 30px;
  position: relative;
  top: 15px;
}
.lp-content .modal .modal-box .fb-login {
  width: 100%;
}
.lp-content .modal .modal-box .fb-signup {
  width: 100%;
}
.lp-content .modal .modal-box .separator {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0;
  border-top: 1px solid #ddd;
  position: relative;
}
.lp-content .modal .modal-box .separator div {
  position: absolute;
  padding: 0 16px;
  color: #ccc;
  background: #fafafa;
  font-size: 11px;
  text-shadow: 0 1px 0 white;
  text-transform: uppercase;
  top: -7px;
  left: 40%;
}
.lp-content .modal .modal-box #upload-preview {
  left: 88.5px;
  width: 100px;
  height: 100px;
  position: relative;
}
.lp-content .modal .modal-box #signup-file {
  left: 60px;
  position: relative;
}
.lp-content .modal .modal-box input:focus {
  border-bottom: 1px solid #896DA5 !important;
  box-shadow: 0 1px 0 0 #896DA5 !important;
}
.lp-content .modal .modal-box button {
  width: 100%;
}
.example img {
  width: 100%;
  background: #e1e1e1 no-repeat center center;
  background-size: cover;
}
