section.poster-container {
  padding-left: 10px;
  width: 100%;
  height: 100%;
}
section.poster-container .card {
  margin: 10px 0px 0px -10px;
  padding: 30px 0;
  height: 100%;
}
section.poster-container .card h5:nth-of-type(1) {
  font-size: 1.5em;
  margin: 0px 0 0 20px;
}
section.poster-container .card h5:nth-of-type(2) {
  font-size: 1.5em;
  margin: 0 0 20px 20px;
  color: #896DA5;
}
section.poster-container .card img {
  width: 100%;
}
section.poster-container .card p {
  padding: 0 20px;
  color: #505050;
  min-height: 60px;
}
section.poster-container .card div {
  text-align: center;
}
section.poster-container .card div .btn {
  background: #896DA5 !important;
}
section.poster-container .card div .btn:hover {
  background: #9b7bba !important;
}
section.make-poster-container {
  width: 100%;
  height: 100%;
}
section.make-poster-container .card {
  width: 100%;
  padding-bottom: 10px;
}
section.make-poster-container .card h5 {
  font-size: 1.5em;
  padding: 30px;
}
section.make-poster-container .card .template-container {
  margin: 10px 50px;
  text-align: center;
}
section.make-poster-container .card .template-container input[type="radio"]:checked {
  display: none;
}
section.make-poster-container .card .template-container label {
  cursor: pointer;
}
section.make-poster-container .card .template-container label .poster-article {
  border: 5px solid white;
  width: 100%;
  padding: 20px 20px 5px 20px;
}
section.make-poster-container .card .template-container label .poster-article .poster-preview {
  width: 100%;
}
section.make-poster-container .card .template-container label .poster-article p {
  padding-top: 5px;
}
section.make-poster-container .card .template-container label .poster-article:hover {
  border: 5px solid #CECECE;
}
section.make-poster-container .card .template-container label .selected-poster {
  border: 5px solid #9b7bba;
}
section.make-poster-container .card .template-container input[type="radio"]:checked + label {
  color: #FBAF29;
}
section.make-poster-container .card .poster-btn-container {
  margin: 20px auto;
  width: 90%;
}
section.make-poster-container .card .poster-btn-container .prev-btn {
  background: #CECECE !important;
}
section.make-poster-container .card .poster-btn-container .prev-btn:hover {
  background: #ABABAB !important;
}
section.make-poster-container .card .poster-btn-container .next-btn {
  float: right;
  background: #896DA5 !important;
}
section.make-poster-container .card .poster-btn-container .next-btn:hover {
  background: #9b7bba !important;
}
section.select-card-container div.card-container div.baby-card {
  cursor: pointer;
}
section.select-card-container div.card-container div.baby-card .babies-container .baby img {
  width: 2em;
  height: 2em;
}
section.select-card-container div.card-container .chosen {
  background-color: red;
}
