article.settings-col {
  margin: 0;
  padding: 0.75rem;
}
article.settings-col .person-card {
  display: inline-block;
  background: white;
  width: 10rem;
  height: 12rem;
  text-align: center;
}
article.settings-col .person-card .photo {
  width: 6rem;
  height: 6rem;
}
article.settings-col .section {
  margin-bottom: 0.75rem;
  padding: 0.75rem;
}
article.settings-col .section h2 {
  font-size: 1.2rem;
  font-weight: 800;
}
article.settings-col .section h3 {
  font-size: 1rem;
}
article.settings-col .section-card {
  background-color: white;
  border-radius: 0.7rem;
}
article.settings-col .my-info .photo {
  display: inline-block;
  height: 9.5rem;
  border-radius: 0.7rem 0 0 0.7rem;
}
article.settings-col .my-info .info {
  display: inline-block;
}
