<article ng-controller="CardController as cCtrl" data-bfilter="0" class="main-col col s12 m12 l10">
    <div class="baby-title" ng-show="cCtrl.isBabyPage">
        <img class="photo circle" src="http://dev.balbum.net{{cCtrl.filteredBaby.babyImg}}" alt="Baby Image">
        {{cCtrl.filteredBaby.babyName}}의 타임라인
        {{cCtrl.filteredBaby.babyDate}}살
    </div>
    <div class="postcard-container row scrollspy" ng-hide="cCtrl.isBabyPage" id="card-now">
            <div class="postcard-tabs col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="active" href="#daily-tab">일상의 순간</a></li>
                    <li class="tab col s3"><a class="active" href="#event-tab">특별한 순간</a></li>
                </ul>
            </div>
            <div id="daily-tab" class="daily-tab col row s12">
                <form class="cardForm" action="http://dev.balbum.net/api/card" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="NORMAL"/>
                    <input type="hidden" name="token" value="{{bMain.token}}"/>
                    <div class="upload-photo-box col s12">
                        <i class="material-icons">add_a_photo</i>사진 추가하기
                    </div>
                    <input class="upload-photo-input disappear" type="file" name="image">
                    <img class="uploaded-photo" src="#" alt="uploaded photo" />
                    <textarea placeholder="우리 아이는 지금 무엇을 하고 있나요?" name="content" class="materialize-textarea" length="120"></textarea>
                    <div class="baby-check-container card-content">
                        <p class="baby-check" ng-repeat="baby in bMain.babyList">
                            <input class="baby-check-input filled-in" type="checkbox" id="bid-{{baby.bid}}" data-bid="{{baby.bid}}"/>
                            <label for="bid-{{baby.bid}}">
                                <img class="circle" src="http://dev.balbum.net{{baby.babyImg}}" alt="Baby Image">
                                {{baby.babyName}}
                            </label>
                        </p>
                    </div>
                    <div class="divider"></div>
                    <div class="date-container col s8">
                        <input type="date" name="modifiedDate"/><br/>
                    </div>
                    <button class="btn waves-effect waves-light right" type="submit" name="action">담기</button>
                </form>
            </div>
            <div id="event-tab" class="event-tab col row s12">
                <form class="cardForm" action="http://dev.balbum.net/api/card" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="type" value="EVENT"/>
                    <input type="hidden" name="token" value="{{bMain.token}}"/>
                    <div class="event-contents">
                        <div class="date-container">
                            <input type="date" name="modifiedDate">
                        </div>
                        <textarea placeholder="첫 옹알이" type="text" name="content" class="event-txt materialize-textarea"></textarea>
                    </div>
                    <div class="baby-check-container card-content">
                        <p class="baby-check" ng-repeat="baby in bMain.babyList">
                            <input class="baby-check-input filled-in" type="checkbox" id="ebid-{{baby.bid}}" data-bid="{{baby.bid}}"/>
                            <label for="ebid-{{baby.bid}}">
                                <img class="circle" src="http://dev.balbum.net{{baby.babyImg}}" alt="Baby Image">
                                {{baby.babyName}}
                            </label>
                        </p>
                    </div>
                    <div class="divider"></div>
                    <button class="btn waves-effect waves-light right" type="submit" name="action">담기</button>
                </form>
            </div>
        </form>
    </div>
    <div id="update-modal" class="modal modal-fixed-footer">
        <div class="modal-content">
            카드 그대로 가져오기
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">취소</a>
            <a href="#!" class="modal-action waves-effect waves-green btn-flat ">수정</a>
        </div>
    </div>
    <div class="card-container row">
        <div class="baby-card bCard scrollspy col s12 l6" data-cid="{{bc.cid}}" id="{{bc.cid}}" ng-repeat="bc in cCtrl.cardList">
            <div class="bc-action">
                <div class="date-container">{{bc.modifiedDate}}</div>
                <div class="btn-container">
                    <div class="share-btn action-btn"><i class="material-icons">share</i></div>
                    <div class='action-dropdown-btn action-btn' ng-click="cCtrl.cardActionDropdownClick($event, bc.cid)"><i class="material-icons">expand_more</i></div>
                    <div class="action-dropdown-menu">
                        <ul>
                            <li class="card-modify" ng-click="cCtrl.cardModify(bc.cid)">수정</li>
                            <li class="card-delete" ng-click="cCtrl.cardDelete(bc.cid)">삭제</li>
                        </ul>
                    </div>
                </div>
            </div>
            <img class="bc-photo" src=" http://dev.balbum.net{{bc.cardImg}}">
            <div class="bc-content">{{bc.content}}</div>
            <div class="divider"></div>
            <div class="babies-container">
                <div class="baby" ng-repeat=" baby in bc.babies">
                    <img class="circle" src="http://dev.balbum.net{{baby.babyImg}}" alt="Baby Image">{{baby.babyName}} {{baby.babyDate}}
                </div>
            </div>
        </div>
    </div>
</article>
<aside class="right-col col l2 hide-on-med-and-down">
    <div class="timemachine-wrapper">
        <div class="row">
            <ul class="section table-of-contents">
                <li><a href="#card-now">지금 이 순간</a></li>
                <li><a href="#1">2015년 5월</a></li>
                <li><a href="#2">2015년 3월</a></li>
                <li><a href="#3">태어남</a></li>
            </ul>
        </div>
    </div>
</aside>
