<section ng-controller="PosterController as pCtrl" class="select-card-container row">
    <div class="col s12">
        <div class="card">
            <h5 class="">원하시는 카드 선택해 주세요.</h5>
            <h5 class="">10장</h5>
            <div class="card-container row">
                <div class="baby-card bCard card scrollspy col s6 m3 l2" data-cid="{{bc.cid}}" id="{{bc.cid}}" ng-repeat="bc in pCtrl.cardList">
                    <div class="bc-photo card-image">
                        <img src=" http://dev.balbum.net{{bc.cardImg}}">
                    </div>
                    <div class="bc-content card-content">
                        <p>{{bc.content}}</p>
                    </div>
                    <div class="bc-action card-action">
                        <div class="date-container">
                            <a href="#">{{bc.modifiedDate}}</a>
                        </div>
                        <div class="babies-container" ng-repeat=" baby in bc.babies">
                            <div class="baby">
                                <img class="circle" src="http://dev.balbum.net{{baby.babyImg}}" alt="Baby Image">{{baby.babyName}} {{baby.babyDate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div>
            

            <!-- 타임라인 카드 다중선택 관련 참고 사이트
                -서버쪽 
                ajax post multiple data array 

                cid를 받아서 배열로(혹은 이미지 배열) 넘겨주면 되겠지요..? 막막하니 이건 경륜쓰와 짝코딩이 필요하닷  


                -프론트쪽 참고할만한거..
                http://stackoverflow.com/questions/14424209/retrive-multi-check-box-value-by-jquery
                - checked box에 선택된 항목들을 checkedArray로 만드는 방식
                    var checkedArray = $("#ShopItemForm").find(":checked").map(function() {
                        return this.value;
                    }).get();

                    console.log(checkedArray);

                http://www.shop-wiz.com/board/view/root/jquery01/tid/10/category/0
                - 이건 그냥 selcet - option 관련.. 혹시나 해서
                

-->
            </div>
            <div>
              <a href="poster/make" class="btn waves-effect">이전</a>
              <a href="poster/preview" class="btn waves-effect">다음</a>
            </div>
        </div>
    </div>
</section>
