<section ng-controller="PosterController as pCtrl" class="select-card-container row">
    <div class="col s12">
        <div class="card">
            <div class="row">
                <h4 class="test col s9 left">원하시는 카드 선택해 주세요.</h4>
                <div class="number-container col s3 right">
                    <h5 class="templateNum">0</h5>
                    <h5> / </h5>
                    <h5 class="selectedCardNum">0</h5>
                </div>
            </div>
            <div class="poster-btn-container">
              <a href="#poster/make" class="gotoSelectTemplate btn prev-btn waves-effect">이전</a>
              <a href="#poster/preview" class="gotoPreviewPoster btn next-btn waves-effect">다음</a>
            </div>
        </div>

        <div class="card-container row">
            <div class="select-for-poster baby-card bCard scrollspy col s6 m3 l2" data-cid="{{bc.cid}}" id="{{bc.cid}}" ng-repeat="bc in pCtrl.cardList">
                <div class="bc-action">
                    <div class="date-container">{{bc.modifiedDate}}</div>
                </div>
                <img class="bc-photo" src=" http://dev.balbum.net{{bc.cardImg}}">
                <div class="bc-content">{{bc.content}}</div>
                <div class="divider"></div>
                <div class="babies-container">
                    <div class="baby" ng-repeat=" baby in bc.babies">
                        <img class="circle" src="http://dev.balbum.net{{baby.babyImg}}" alt="Baby Image">{{baby.babyName}} {{baby.babyDate}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
